.page {
  background-color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0 auto;
  padding: 0 19px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 319px) {
  .page {
    padding: 0;
  }
}
